:root{
    --font1: Arial, sans-serif, serif;
}
*{margin: 0;padding: 0;border: 0;outline: 0;max-width: 100%;box-sizing: border-box;font-family: var(--font1);}

body{min-height: 100vh;overflow-x: hidden;font-size: 16px;line-height: 1.5;color: #666;background: #fafbfd;}
body.overflow{overflow: hidden;}
.wrapper{display: flex;flex-direction: column;min-height: 100vh;overflow: hidden;}
.content{flex: 1 0 auto;}
.footer{flex: 0 0 auto;}
li{list-style: none;}
a{text-decoration: none;}
.center{text-align: center;}
.none, .hide{display: none!important;}
.noll{width: 0;height: 0;overflow: hidden;padding: 0;margin: 0;border: 0;min-height: auto;position: fixed;z-index: -999;top: -200%;left: -200%;}
button{cursor: pointer;}
a,button{transition: .15s ease-in-out;}
table{border-spacing: 0;border-collapse: collapse;}
.a{color: #0077bb;border-bottom: 1px solid transparent;display: inline-block;}
.a:hover{color: #00466e;border-color: #00466e;}
template{display: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

.btn{background: #0077bb;border: 1px solid #0067a2;padding: 9px 12px;color: #fff;font-size: 14px;display: inline-flex;line-height: 1;align-items: center;}
.btn:hover{background: #005788;border-color: #004064;}
.btn svg, .btn i{margin: 0 5px 0 0;}
.btn svg{fill: #fff;opacity: .6;width: 14px;height: 14px;}
.btn:hover svg{opacity: 1;}
.btn:disabled{opacity: 0.7;}
.btn:disabled:hover svg{opacity: .6;}
.btn:disabled:hover{background: #0077bb;border-color: #0067a2;}
.btn_gray{background: #656d79;border-color: #3e434a;}
.btn_gray:disabled:hover{background: #656d79;border-color: #3e434a;}
.btn_white{background: #fff;border-color: #ccc;color: #333;}
.btn_white:hover{background: #e6e6e6;border-color: #adadad;}
.btn_orange{background: #ff8800;border-color: #e67a00;}
.btn_orange:hover{background: #cc6d00;border-color: #a85a00;}
.btn2{background: none;display: inline-block;color: #3498db;text-decoration: underline;font-size: 14px;}
.btn2:hover{color: #124364;}

.checkbox{margin-bottom:.2em;}.checkbox *{cursor: pointer!important;}.custom-checkbox>input{position:absolute;z-index:-1;opacity:0}.custom-checkbox>span{display:inline-flex;align-items:center;user-select:none;font-size: 16px;}.custom-checkbox>span::before{content:'';display:inline-block;width:12px;height:12px;flex-shrink:0;flex-grow:0;border:1px solid #777;border-radius:4px;margin: -1px 6px 1px 0;background-repeat:no-repeat;background-position:center center;background-size:50% 50%;}.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before{border-color:#777}.custom-checkbox>input:focus+span::before{box-shadow:0 0 0 .2rem rgb(0, 177, 255, 0.3)}.custom-checkbox>input:focus:not(:checked)+span::before{border-color:#777}.custom-checkbox>input:checked+span::before{border-color:#0075ff;background-color:#0075ff;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");background-size: 70%;background-position: 2px 2px;}.custom-checkbox>input:disabled+span::before{background-color:#e9ecef}

input,textarea,select{height: 34px;width: 100%;display: block;border: 1px solid #ccc;box-shadow: inset 0 1px 1px rgb(0,0,0,.08);padding: 8px 12px;font-size: 14px;transition: color,background,box-shadow,outline-color,border-color .15s ease-in-out;}
input:focus,textarea:focus,select:focus{box-shadow: inset 0 1px 1px rgb(0,0,0,.08), 0 0 8px rgb(102,175,233,.6);border-color: #66afe9;}
textarea{resize: vertical;min-height: 50px;max-height: 350px;}
textarea.tiny{height: 50px;}
textarea.small{height: 100px;}
textarea.large{height: 200px;}
textarea.huge{height: 250px;}
textarea.giant{height: 350px;}

.modal1{text-align: center;display: none;opacity: 0;transition: .4s ease-out;position: fixed;z-index: 100000;top: 0;left: 0;width: 100%;height: 100vh;overflow-y: auto;padding: 0 32px;}
.modal2{position: fixed;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.65);}
.modal3{position: relative;z-index: 2;margin: 48px 0 32px;display: inline-block;text-align: center;}
.modal4{position: absolute;top: 10px;right: -56px;background: none;color: #fff;font: 42px var(--font1);transition: .15s ease-out;z-index: 3;width: 42px;height: 42px;display: flex;align-items: center;justify-content: center;}
.modal5{position: relative;z-index: 2;display: inline-block;text-align: left;}

.notify32{text-align: center;display: none;opacity: 0;transition: .4s ease-out;position: fixed;z-index: 100000;top: 0;left: 0;width: 100%;height: 100vh;overflow-y: auto;}
.notify33{position: fixed;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.1);}
.notify34{position: relative;z-index: 2;max-width: 600px;width: 100%;margin: 48px 16px 32px;background: #fff;display: inline-block;text-align: left;padding: 20px 40px;border: 4px solid #222;}
.notify35{position: absolute;top: 20px;right: 40px;background: none;color: #ddd;font: 21px var(--font1);transition: .15s ease-out;}
.notify35:hover{color: #000;}
.notify36{display: flex;align-items: center;padding: 9px 0 0;}
.notify37{margin: 0 12px 0 0;}
.notify37 svg{width: 22px;height: 22px;}
.notify36.error svg{fill: #ed143d;}
.notify36.error{color: #ed143d;}
.notify36.success svg{fill: #080;}
.notify36.success{color: #080;}
.notify36 p{font-size: 18px;margin: 2px 0 -2px;}
.notify38{padding: 20px 0;font-size: 14px;color: #444444;}
.notify39{padding: 20px 40px 0;text-align: right;border-top: 1px solid #e5e5e5;min-width: calc(100% + 80px);margin: 0 -40px;}
.notify39 button{display: inline-block;background: #0077bb;border-color: #0067a2;color: #ffffff;padding: 9px 14px;font-size: 14px;transition: .15s ease-out;}
.notify39 button:hover{background: #005788;border-color: #004064;}

.switch{position: relative;display: inline-block;width: 53px;height: 30px;}.switch input{opacity: 0;width: 0;height: 0;}.switch span{position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .3s;transition: .3s;}.switch span:before{position: absolute;content: "";height: 22px;width: 22px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .3s;transition: .3s;}.switch input:checked + span{background-color: #2196F3;}.switch input:focus + span{box-shadow: 0 0 1px #2196F3;}.switch input:checked + span:before{-webkit-transform: translateX(23px);-ms-transform: translateX(23px);transform: translateX(23px);}
.e0{text-align: center;padding: 42px 16px;}
.e0 h1{font-size: 28px;font-weight: bold;color: #222;margin: 0 0 14px;}
.e1{background: dodgerblue;}
.e1>div{max-width: 1170px;margin: 0 auto;width: 100%;padding: 2px 16px;display: flex;}
.e2{margin: 0 120px 0 0;}
.e2 img{display: block;}
.e1 nav{display: flex;align-items: flex-end;}
.e3{display: flex;flex-wrap: wrap;align-items: flex-end;}
.e3>li{position: relative;margin: 0 24px 0 0;}
.e3>li>a{font-size: 22px;color: #fff;border-bottom: 4px solid transparent;display: block;}
.e3>li>a.active, .e3>li>a:hover{box-shadow: inset 0 -2px 0 #ffffff;border-color: red;}
.e3>li ul{position: absolute;top: 150%;background: #333;z-index: 2;width: 100%;min-width: 240px;box-shadow: 0 2px 12px -4px #000;padding: 4px 0;transition: .15s ease-out;visibility: hidden;opacity: 0;}
.e3>li:hover ul{visibility: visible;opacity: 1;top: 100%;}
.e3>li ul a{display: block;padding: 8px 12px;background: #444;transition: .15s ease-in;color: #fff;font-size: 17px;}
.e3>li ul a.active{background: #000;border-top: 1px solid red;border-bottom: 1px solid red;}
.e3>li ul a:hover{background: #333;}
.e3>li ul a.active:hover{background: #000;}

.e4{max-width: 972px;margin: 0 auto;padding: 92px 16px;}
.e6{display: flex;align-items: flex-start;margin: 0 0 14px;}
.e6>p{font-size: 16px;font-weight: bold;padding: 7px 0 0;margin: 0 20px 0 0;text-align: right;}
.e6>p span{color: #ffcc00;}
.e7>p{min-width: 172px;max-width: 172px;}
.e7>div{max-width: 231px;width: 100%;}
.e8{margin: 14px 0;}
.e9{padding: 0 0 0 26px;}
.e9 li{list-style: disc;}
.e9 a{margin: 3px 0;}

.e10{max-width: 1140px;margin: 0 auto;padding: 92px 16px;}
.e11{background: #eeeeee;border: 1px solid #eeeeee;margin-bottom: 20px;padding: 10px 20px;}

.e12{background: #34495e;color: #f7f7f7;}
.e12>div{max-width: 1170px;margin: 0 auto;padding: 40px 16px;display: flex;align-items: center;justify-content: space-between;}
.e13{display: flex;align-items: flex-start;}
.e13>div{margin: 0 56px 0 0;}
.e13 p{font-size: 14px;}

/* .e14{padding: 92px 16px;}
.e15{max-width: 1170px;margin: 0 auto;display: flex;flex-wrap: wrap;}
label.e16{display: block;width: 50%;}
label.e16.full{width: 100%;}
div.e16{width: 100%;} */

.e14{padding: 92px 16px;}
.e15{max-width: 1170px;margin: 0 auto;}
.e15 h1{font-size: 24px;margin: 0 0 16px;}
.e16{display: flex;justify-content: space-between;margin: 0 0 16px;}
.e17{display: flex;}
.e17>*{margin: 0 12px 0 0;display: flex;align-items: center;}
.e17>p{color: #a7a7a7;font-size: 15px;}
.e17>p span{margin: 0 4px;}
.e17 svg{width: 13px;height: 13px;margin: 0 8px 0 0;}
.e18{position: relative;}
.e18 input{width: 100%;max-width: 120px;position: relative;z-index: 1;}
.e18 input:focus{max-width: 240px;}
.e18 svg{position: absolute;z-index: 2;width: 14px;height: 14px;fill: #777;top: 10px;right: 8px;}
.e19{width: 100%;border-bottom: 1px solid #d4d8da;border-right: 1px solid #d4d8da;position: relative;}
.e19 td{border-top: 1px solid #d4d8da;border-left: 1px solid #d4d8da;cursor: pointer;}
.e19 thead{background: #f0f4f8;}
.e20{}
.e22{padding: 2px 0 0 12px;width: 40px;}
.e21, .e19 tbody p{padding: 10px 15px;color: #536061;word-break: break-word;}
.e19 tbody tr:nth-of-type(even) td{background: #f7f9fb;}
.e21{display: flex;align-items: center;cursor: text;}
.e21.sort{cursor: pointer;min-width: 68px;}
.e21 button{width: 14px;height: 14px;background: none;margin: 0 0 0 4px;}
.e21 svg{fill: #35425b;}
.e21 .desc svg, .e21 .asc svg{fill: #c63e26;}
.e21 .asc svg{transform: rotateZ(180deg);}
.e23{}
.e24{display: flex;align-items: center;justify-content: flex-end;padding: 10px 15px;border: 1px solid #d4d8da;border-top: none;}
.e24>p{margin: 0 12px 0 0;font-size: 14px;color: #98a7a8;}
.e25{display: flex;align-items: center;}
.e25 li{margin: 0 3px;height: 36px;}
.e25 button{width: 42px;height: 100%;display: flex;align-items: center;justify-content: center;}
.e25 svg{fill: #b6b6b6;width: 20px;height: 20px;transition: .15s ease-out;}
.e25 button.active svg{fill: #666;}
.e25 button.active:hover svg{fill: #3498db;}
.e26{position: absolute;display: block;width: 24px;height: 24px;top: 8px;right: 8px;}
.e26 button{display: flex;align-items: center;justify-content: center;width: 24px;height: 24px;background: #f7f9fb;}
.e26 svg{width: 13px;height: 13px;fill: rgba(0,0,0,.5);}
.e26 button:hover{background: rgba(215,225,234,.7);}
.e26 button:hover svg{fill: #333;}
.e26 td{border: 0;}

.e27{position: fixed;top: 0;left: 0;height: 100vh;width: 100%;transition: .3s ease-out;z-index: 100000;overflow: hidden;background: rgba(0,0,0,0.35);display: none;opacity: 0;}
.e28{overflow-y: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;display: flex;align-items: flex-start;justify-content: center;padding: 1px 0 32px;}
.e29{position: fixed;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;background: none;}
.e30{background: #fff;margin: 32px 0 0;position: relative;z-index: 2;max-width: 600px;width: 100%;font-size: 14px;}
.e31{display: flex;align-items: flex-start;justify-content: space-between;padding: 20px 20px 15px;border-bottom: 1px solid rgba(149,165,166,.2);}
.e30 p{color: #777;}
.e31 p{font-size: 18px;color: #2a3e51;}
.e31 button{color: #35425b;background: none;width: 16px;height: 16px;font-size: 16px;}
.e31 button:hover{color: #ff3e1d;}
.e32{border: 1px solid #cfd7e1;padding: 15px 20px 5px 20px;border-radius: 4px;margin: 0 20px 15px;}
.e33{margin: 0 0 10px;}
.e34{padding: 15px 20px;}
.e35{padding: 15px 20px 32px;}
p.e36{color: #2a3e51;font-size: 15px;margin: 0 0 2px;}
.e35 select{margin: 12px 0;}
.e37{display: flex;align-items: center;justify-content: space-between;}

.e38{display: flex;font-size: 14px;padding: 0 0 28px;}
.e38 a{display: inline-block;color: #3498db;text-decoration: underline;position: relative;}
.e38 a::after{content: "\203A";position: relative;display: inline-block;color: rgb(83, 96, 97);margin: 0px 4px;}
.e38 p{color: #536061;}
.e39{}
.e41{display: flex;margin: 20px 0;position: relative;}
.e41::before{position: absolute;content: "";top: calc(50% - 1px);height: 2px;width: 100%;right: 0;background: #dfdfdf;z-index: 1;}
.e41_0{position: absolute;right: 0;top: 0;bottom: 0;z-index: 2;padding: 0 0 0 10px;background: #fafbfd;}
.e41_0 button{display: block;padding: 0 12px;height: 100%;}
.e41 li button{margin: 0 10px;font-size: 20px;color: #72809d;background: none;}
.e41 li button.active{color: #0057ff;}
.e41 li{border-right: 1px solid #d7e1ea;background: #fafbfd;position: relative;;z-index: 2;}
.e41 li:last-child{border: none;}
.e44, .e42{display: flex;flex-wrap: wrap;min-width: calc(100% + 16px);margin: 0 -16px;}
.e42{display: none;padding: 24px 24px 8px;background: #fff;border: 1px solid #f5f5f5;margin: 0 0 24px;min-width: auto;}
.e42.active{display: flex;}
.e44>li, .e42>li{width: calc(50% - 16px);margin: 0 0 0 16px;}
.e44>li.required>p::after, .e42>li.required>p::after{content: '*';font-size: 16px;color: #f00;font-weight: bold;margin: 0 0 0 4px;}
.e44>li.full, .e44>li.full>div, .e42>li.full{width: 100%;}
.e44>li.left, .e42>li.left{width: 100%;}
.e44>li.left>div, .e42>li.left>div{width: calc(50% - 8px);}
li.e40{width: 100%;}
.e43{font-size: 14px;color: #2a3e51;margin-bottom: 5px;;line-height: 1;}
.e44>li>div, .e42>li>div{margin: 0 0 16px;}
.e45{display: flex;align-items: center;flex-wrap: wrap;}
.e45>*{margin: 0 12px 0 0;}

.e46{padding: 32px 0 0;display: flex;flex-direction: column;}
.e47{display: inline-flex;align-items: center;padding: 7px 15px 7px 5px;}
.e47.dragged{position: absolute;z-index: 2000;opacity: .5;background: rgba(215,225,234,.7);}
.e47.dragged p{color: #fff;}
.e47 button{margin: 0 8px 0 0;color: #bdc3c7;font-size: 20px;background: url(../images/icon-menu.svg) no-repeat center center / 100% 100%;width: 14px;height: 14px;}
.e47 button:hover{opacity: 0.7;}
.e47 p{color: #536061;font-size: 14px;padding: 2px 0 0;}
.e48{position: relative;display: inline-flex;align-items: center;height: 28px;width: 100px;}
.e48 svg{fill: #d35714;left: -18px;position: absolute;width: 16px;height: 16px;}



@font-face {
    font-family: octo-icon;
    src: url(/modules/system/assets/ui/font/octo-icon.eot);
    src: url(/modules/system/assets/ui/font/octo-icon.eot) format('embedded-opentype'),url(/modules/system/assets/ui/font/octo-icon.ttf) format('truetype'),url(/modules/system/assets/ui/font/octo-icon.woff) format('woff'),url(/modules/system/assets/ui/font/octo-icon.svg) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
[class*=" icon-"],[class^=icon-]{font-family: FontAwesome;font-weight: 400;font-style: normal;text-decoration: inherit;-webkit-font-smoothing: antialiased;display: inline;width: auto;height: auto;line-height: normal;vertical-align: baseline;background-image: none;background-position: 0 0;background-repeat: repeat;margin-top: 0}
[class*=" icon-"]:before,[class^=icon-]:before{text-decoration: inherit;display: inline-block;speak: none}
[class*=" icon-"].pull-left,[class^=icon-].pull-left{margin-right: .3em}
[class*=" icon-"].pull-right,[class^=icon-].pull-right{margin-left: .3em}
[class*=" oc-icon-"]:before,[class^=oc-icon-]:before{display: inline-block;margin-right: 8px;font-family: FontAwesome;font-weight: 400;font-style: normal;text-decoration: inherit;-webkit-font-smoothing: antialiased;vertical-align: baseline}
[class*=" oc-icon-"].empty:before,[class^=oc-icon-].empty:before{margin-right: 0}
.icon-lg{font-size: 1.33333333em;line-height: .75em;vertical-align: -15%}
.icon-2x{font-size: 2em}
.icon-3x{font-size: 3em}
.icon-4x{font-size: 4em}
.icon-5x{font-size: 5em}
[class*=" octo-icon-"],[class^=octo-icon-]{font-family: octo-icon!important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale}

.octo-icon-size-20{font-size: 20px}
.octo-icon-collapse:before{content: "\eb26"}
.octo-icon-music:before{content: "\e964"}
.octo-icon-envelope:before{content: "\e965"}
.octo-icon-heart:before{content: "\e966"}
.octo-icon-star:before{content: "\e967"}
.octo-icon-user:before{content: "\e968"}
.octo-icon-film:before{content: "\e969"}
.octo-icon-check:before{content: "\e96a"}
.octo-icon-remove:before{content: "\e96b"}
.octo-icon-close:before{content: "\e96c"}
.octo-icon-search-minus:before{content: "\e96d"}
.octo-icon-search-plus:before{content: "\e96e"}
.octo-icon-power-off:before{content: "\e96f"}
.octo-icon-signal:before{content: "\e970"}
.octo-icon-gear:before{content: "\e971"}
.octo-icon-cog:before{content: "\e972"}
.octo-icon-home:before{content: "\e973"}
.octo-icon-file:before{content: "\e974"}
.octo-icon-clock:before{content: "\e975"}
.octo-icon-road:before{content: "\e976"}
.octo-icon-arrow-circle-o-down:before{content: "\e977"}
.octo-icon-arrow-circle-o-up:before{content: "\e978"}
.octo-icon-inbox:before{content: "\e979"}
.octo-icon-play-circle:before{content: "\e97a"}
.octo-icon-rotate-right:before{content: "\e97b"}
.octo-icon-repeat:before{content: "\e97c"}
.octo-icon-refresh:before{content: "\e97d"}
.octo-icon-list-alt:before{content: "\e97e"}
.octo-icon-headphones:before{content: "\e97f"}
.octo-icon-volume-off:before{content: "\e980"}
.octo-icon-volume-down:before{content: "\e981"}
.octo-icon-volume-up:before{content: "\e982"}
.octo-icon-qrcode:before{content: "\e983"}
.octo-icon-barcode:before{content: "\e984"}
.octo-icon-tags:before{content: "\e985"}
.octo-icon-book:before{content: "\e986"}
.octo-icon-bookmark:before{content: "\e987"}
.octo-icon-print:before{content: "\e988"}
.octo-icon-camera:before{content: "\e989"}
.octo-icon-font:before{content: "\e98a"}
.octo-icon-text-height:before{content: "\e98b"}
.octo-icon-text-width:before{content: "\e98c"}
.octo-icon-video-camera:before{content: "\e98d"}
.octo-icon-photo:before{content: "\e98e"}
.octo-icon-image:before{content: "\e98f"}
.octo-icon-picture:before{content: "\e990"}
.octo-icon-pencil:before{content: "\e991"}
.octo-icon-map-marker:before{content: "\e992"}
.octo-icon-adjust:before{content: "\e993"}
.octo-icon-edit:before{content: "\e994"}
.octo-icon-pencil-square:before{content: "\e995"}
.octo-icon-share-square:before{content: "\e996"}
.octo-icon-check-square:before{content: "\e997"}
.octo-icon-arrows:before{content: "\e998"}
.octo-icon-pause:before{content: "\e999"}
.octo-icon-stop:before{content: "\e99a"}
.octo-icon-eject:before{content: "\e99b"}
.octo-icon-chevron-right:before{content: "\e99c"}
.octo-icon-plus-circle:before{content: "\e99d"}
.octo-icon-minus-circle:before{content: "\e99e"}
.octo-icon-times-circle:before{content: "\e99f"}
.octo-icon-check-circle:before{content: "\e9a0"}
.octo-icon-question-circle:before{content: "\e9a1"}
.octo-icon-info-circle:before{content: "\e9a2"}
.octo-icon-crosshairs:before{content: "\e9a3"}
.octo-icon-times-circle-o:before{content: "\e9a4"}
.octo-icon-check-circle-o:before{content: "\e9a5"}
.octo-icon-ban:before{content: "\e9a6"}
.octo-icon-arrow-left:before{content: "\e9a7"}
.octo-icon-arrow-right:before{content: "\e9a8"}
.octo-icon-arrow-up:before{content: "\e9a9"}
.octo-icon-arrow-down:before{content: "\e9aa"}
.octo-icon-mail-forward:before{content: "\e9ab"}
.octo-icon-share:before{content: "\e9ac"}
.octo-icon-expand:before{content: "\e9ad"}
.octo-icon-compress:before{content: "\e9ae"}
.octo-icon-minus:before{content: "\e9af"}
.octo-icon-asterisk:before{content: "\e9b0"}
.octo-icon-exclamation-circle:before{content: "\e9b1"}
.octo-icon-gift:before{content: "\e9b2"}
.octo-icon-leaf:before{content: "\e9b3"}
.octo-icon-fire:before{content: "\e9b4"}
.octo-icon-eye:before{content: "\e9b5"}
.octo-icon-eye-slash:before{content: "\e9b6"}
.octo-icon-calendar:before{content: "\e9b7"}
.octo-icon-comment:before{content: "\e9b8"}
.octo-icon-chevron-down:before{content: "\e9b9"}
.octo-icon-retweet:before{content: "\e9ba"}
.octo-icon-shopping-cart:before{content: "\e9bb"}
.octo-icon-folder:before{content: "\e9bc"}
.octo-icon-folder-open:before{content: "\e9bd"}
.octo-icon-arrows-v:before{content: "\e9be"}
.octo-icon-arrows-h:before{content: "\e9bf"}
.octo-icon-bar-chart-o:before{content: "\e9c0"}
.octo-icon-bar-chart:before{content: "\e9c1"}
.octo-icon-twitter-square:before{content: "\e9c2"}
.octo-icon-facebook-square:before{content: "\e9c3"}
.octo-icon-camera-retro:before{content: "\e9c4"}
.octo-icon-key:before{content: "\e9c5"}
.octo-icon-cogs:before{content: "\e9c6"}
.octo-icon-comments:before{content: "\e9c7"}
.octo-icon-thumbs-o-down:before{content: "\e9c8"}
.octo-icon-heart-o:before{content: "\e9c9"}
.octo-icon-sign-out:before{content: "\e9ca"}
.octo-icon-linkedin-square:before{content: "\e9cb"}
.octo-icon-thumb-tack:before{content: "\e9cc"}
.octo-icon-external-link:before{content: "\e9cd"}
.octo-icon-sign-in:before{content: "\e9ce"}
.octo-icon-trophy:before{content: "\e9cf"}
.octo-icon-upload:before{content: "\e9d0"}
.octo-icon-lemon-o:before{content: "\e9d1"}
.octo-icon-phone:before{content: "\e9d2"}
.octo-icon-square-o:before{content: "\e9d3"}
.octo-icon-bookmark-o:before{content: "\e9d4"}
.octo-icon-phone-square:before{content: "\e9d5"}
.octo-icon-twitter:before{content: "\e9d6"}
.octo-icon-facebook-f:before{content: "\e9d7"}
.octo-icon-facebook:before{content: "\e9d8"}
.octo-icon-unlock:before{content: "\e9d9"}
.octo-icon-credit-card:before{content: "\e9da"}
.octo-icon-feed:before{content: "\e9db"}
.octo-icon-rss:before{content: "\e9dc"}
.octo-icon-hdd-o:before{content: "\e9dd"}
.octo-icon-certificate:before{content: "\e9de"}
.octo-icon-arrow-circle-left:before{content: "\e9df"}
.octo-icon-arrow-circle-down:before{content: "\e9e0"}
.octo-icon-wrench:before{content: "\e9e1"}
.octo-icon-tasks:before{content: "\e9e2"}
.octo-icon-filter:before{content: "\e9e3"}
.octo-icon-briefcase:before{content: "\e9e4"}
.octo-icon-arrows-alt:before{content: "\e9e5"}
.octo-icon-group:before{content: "\e9e6"}
.octo-icon-chain:before{content: "\e9e7"}
.octo-icon-flask:before{content: "\e9e8"}
.octo-icon-cut:before{content: "\e9e9"}
.octo-icon-scissors:before{content: "\e9ea"}
.octo-icon-copy:before{content: "\e9eb"}
.octo-icon-files-o:before{content: "\e9ec"}
.octo-icon-square:before{content: "\e9ed"}
.octo-icon-navicon:before{content: "\e9ee"}
.octo-icon-reorder:before{content: "\e9ef"}
.octo-icon-bars:before{content: "\e9f0"}
.octo-icon-list-ul:before{content: "\e9f1"}
.octo-icon-list-ol:before{content: "\e9f2"}
.octo-icon-strikethrough:before{content: "\e9f3"}
.octo-icon-magic:before{content: "\e9f4"}
.octo-icon-truck:before{content: "\e9f5"}
.octo-icon-pinterest:before{content: "\e9f6"}
.octo-icon-pinterest-square:before{content: "\e9f7"}
.octo-icon-google-plus-square:before{content: "\e9f8"}
.octo-icon-google-plus:before{content: "\e9f9"}
.octo-icon-caret-down:before{content: "\e9fa"}
.octo-icon-caret-up:before{content: "\e9fb"}
.octo-icon-caret-left:before{content: "\e9fc"}
.octo-icon-caret-right:before{content: "\e9fd"}
.octo-icon-columns:before{content: "\e9fe"}
.octo-icon-sort:before{content: "\e9ff"}
.octo-icon-sort-down:before{content: "\ea00"}
.octo-icon-sort-desc:before{content: "\ea01"}
.octo-icon-sort-up:before{content: "\ea02"}
.octo-icon-sort-asc:before{content: "\ea03"}
.octo-icon-linkedin:before{content: "\ea04"}
.octo-icon-rotate-left:before{content: "\ea05"}
.octo-icon-legal:before{content: "\ea06"}
.octo-icon-gavel:before{content: "\ea07"}
.octo-icon-dashboard:before{content: "\ea08"}
.octo-icon-tachometer:before{content: "\ea09"}
.octo-icon-comment-o:before{content: "\ea0a"}
.octo-icon-comments-o:before{content: "\ea0b"}
.octo-icon-sitemap:before{content: "\ea0c"}
.octo-icon-umbrella:before{content: "\ea0d"}
.octo-icon-clipboard:before{content: "\ea0e"}
.octo-icon-lightbulb-o:before{content: "\ea0f"}
.octo-icon-exchange:before{content: "\ea10"}
.octo-icon-user-md:before{content: "\ea11"}
.octo-icon-stethoscope:before{content: "\ea12"}
.octo-icon-suitcase:before{content: "\ea13"}
.octo-icon-bell-o:before{content: "\ea14"}
.octo-icon-coffee:before{content: "\ea15"}
.octo-icon-file-text-o:before{content: "\ea16"}
.octo-icon-building-o:before{content: "\ea17"}
.octo-icon-hospital-o:before{content: "\ea18"}
.octo-icon-ambulance:before{content: "\ea19"}
.octo-icon-medkit:before{content: "\ea1a"}
.octo-icon-fighter-jet:before{content: "\ea1b"}
.octo-icon-beer:before{content: "\ea1c"}
.octo-icon-h-square:before{content: "\ea1d"}
.octo-icon-plus-square:before{content: "\ea1e"}
.octo-icon-angle-double-left:before{content: "\ea1f"}
.octo-icon-angle-double-right:before{content: "\ea20"}
.octo-icon-angle-double-up:before{content: "\ea21"}
.octo-icon-angle-double-down:before{content: "\ea22"}
.octo-icon-angle-left:before{content: "\ea23"}
.octo-icon-angle-right:before{content: "\ea24"}
.octo-icon-desktop:before{content: "\ea25"}
.octo-icon-laptop:before{content: "\ea26"}
.octo-icon-tablet:before{content: "\ea27"}
.octo-icon-mobile-phone:before{content: "\ea28"}
.octo-icon-mobile:before{content: "\ea29"}
.octo-icon-circle-o:before{content: "\ea2a"}
.octo-icon-quote-left:before{content: "\ea2b"}
.octo-icon-quote-right:before{content: "\ea2c"}
.octo-icon-spinner:before{content: "\ea2d"}
.octo-icon-circle:before{content: "\ea2e"}
.octo-icon-mail-reply:before{content: "\ea2f"}
.octo-icon-reply:before{content: "\ea30"}
.octo-icon-folder-o:before{content: "\ea31"}
.octo-icon-folder-open-o:before{content: "\ea32"}
.octo-icon-smile-o:before{content: "\ea33"}
.octo-icon-frown-o:before{content: "\ea34"}
.octo-icon-meh-o:before{content: "\ea35"}
.octo-icon-keyboard-o:before{content: "\ea36"}
.octo-icon-flag-checkered:before{content: "\ea37"}
.octo-icon-terminal:before{content: "\ea38"}
.octo-icon-code:before{content: "\ea39"}
.octo-icon-mail-reply-all:before{content: "\ea3a"}
.octo-icon-reply-all:before{content: "\ea3b"}
.octo-icon-location-arrow:before{content: "\ea3c"}
.octo-icon-crop:before{content: "\ea3d"}
.octo-icon-chain-broken:before{content: "\ea3e"}
.octo-icon-question:before{content: "\ea3f"}
.octo-icon-exclamation:before{content: "\ea40"}
.octo-icon-superscript:before{content: "\ea41"}
.octo-icon-subscript:before{content: "\ea42"}
.octo-icon-puzzle-piece:before{content: "\ea43"}
.octo-icon-microphone:before{content: "\ea44"}
.octo-icon-microphone-slash:before{content: "\ea45"}
.octo-icon-shield:before{content: "\ea46"}
.octo-icon-calendar-o:before{content: "\ea47"}
.octo-icon-fire-extinguisher:before{content: "\ea48"}
.octo-icon-rocket:before{content: "\ea49"}
.octo-icon-chevron-circle-left:before{content: "\ea4a"}
.octo-icon-chevron-circle-right:before{content: "\ea4b"}
.octo-icon-chevron-circle-up:before{content: "\ea4c"}
.octo-icon-chevron-circle-down:before{content: "\ea4d"}
.octo-icon-html5:before{content: "\ea4e"}
.octo-icon-css3:before{content: "\ea4f"}
.octo-icon-anchor:before{content: "\ea50"}
.octo-icon-unlock-alt:before{content: "\ea51"}
.octo-icon-bullseye:before{content: "\ea52"}
.octo-icon-rss-square:before{content: "\ea53"}
.octo-icon-minus-square:before{content: "\ea54"}
.octo-icon-minus-square-o:before{content: "\ea55"}
.octo-icon-level-down:before{content: "\ea56"}
.octo-icon-toggle-down:before{content: "\ea57"}
.octo-icon-caret-square-o-down:before{content: "\ea58"}
.octo-icon-toggle-up:before{content: "\ea59"}
.octo-icon-caret-square-o-up:before{content: "\ea5a"}
.octo-icon-caret-square-o-right:before{content: "\ea5b"}
.octo-icon-euro:before{content: "\ea5c"}
.octo-icon-sort-numeric-asc:before{content: "\ea5d"}
.octo-icon-sort-numeric-desc:before{content: "\ea5e"}
.octo-icon-eur:before{content: "\ea5f"}
.octo-icon-gbp:before{content: "\ea60"}
.octo-icon-dollar:before{content: "\ea61"}
.octo-icon-usd:before{content: "\ea62"}
.octo-icon-bitcoin:before{content: "\ea63"}
.octo-icon-btc:before{content: "\ea64"}
.octo-icon-file-text:before{content: "\ea65"}
.octo-icon-thumbs-up:before{content: "\ea66"}
.octo-icon-thumbs-down:before{content: "\ea67"}
.octo-icon-youtube-square:before{content: "\ea68"}
.octo-icon-youtube:before{content: "\ea69"}
.octo-icon-xing:before{content: "\ea6a"}
.octo-icon-xing-square:before{content: "\ea6b"}
.octo-icon-youtube-play:before{content: "\ea6c"}
.octo-icon-dropbox:before{content: "\ea6d"}
.octo-icon-stack-overflow:before{content: "\ea6e"}
.octo-icon-instagram:before{content: "\ea6f"}
.octo-icon-flickr:before{content: "\ea70"}
.octo-icon-tumblr:before{content: "\ea71"}
.octo-icon-tumblr-square:before{content: "\ea72"}
.octo-icon-long-arrow-down:before{content: "\ea73"}
.octo-icon-long-arrow-up:before{content: "\ea74"}
.octo-icon-long-arrow-left:before{content: "\ea75"}
.octo-icon-long-arrow-right:before{content: "\ea76"}
.octo-icon-apple:before{content: "\ea77"}
.octo-icon-windows:before{content: "\ea78"}
.octo-icon-android:before{content: "\ea79"}
.octo-icon-dribbble:before{content: "\ea7a"}
.octo-icon-foursquare:before{content: "\ea7b"}
.octo-icon-female:before{content: "\ea7c"}
.octo-icon-male:before{content: "\ea7d"}
.octo-icon-sun-o:before{content: "\ea7e"}
.octo-icon-moon-o:before{content: "\ea7f"}
.octo-icon-archive:before{content: "\ea80"}
.octo-icon-bug:before{content: "\ea81"}
.octo-icon-vk:before{content: "\ea82"}
.octo-icon-weibo:before{content: "\ea83"}
.octo-icon-renren:before{content: "\ea84"}
.octo-icon-arrow-circle-o-right:before{content: "\ea85"}
.octo-icon-arrow-circle-o-left:before{content: "\ea86"}
.octo-icon-caret-square-o-left:before{content: "\ea87"}
.octo-icon-dot-circle-o:before{content: "\ea88"}
.octo-icon-wheelchair:before{content: "\ea89"}
.octo-icon-plus-square-o:before{content: "\ea8a"}
.octo-icon-space-shuttle:before{content: "\ea8b"}
.octo-icon-envelope-square:before{content: "\ea8c"}
.octo-icon-institution:before{content: "\ea8d"}
.octo-icon-bank:before{content: "\ea8e"}
.octo-icon-university:before{content: "\ea8f"}
.octo-icon-mortar-board:before{content: "\ea90"}
.octo-icon-yahoo:before{content: "\ea91"}
.octo-icon-reddit:before{content: "\ea92"}
.octo-icon-reddit-square:before{content: "\ea93"}
.octo-icon-delicious:before{content: "\ea94"}
.octo-icon-digg:before{content: "\ea95"}
.octo-icon-drupal:before{content: "\ea96"}
.octo-icon-language:before{content: "\ea97"}
.octo-icon-building:before{content: "\ea98"}
.octo-icon-paw:before{content: "\ea99"}
.octo-icon-spoon:before{content: "\ea9a"}
.octo-icon-steam:before{content: "\ea9b"}
.octo-icon-steam-square:before{content: "\ea9c"}
.octo-icon-automobile:before{content: "\ea9d"}
.octo-icon-car:before{content: "\ea9e"}
.octo-icon-cab:before{content: "\ea9f"}
.octo-icon-taxi:before{content: "\eaa0"}
.octo-icon-tree:before{content: "\eaa1"}
.octo-icon-database:before{content: "\eaa2"}
.octo-icon-file-pdf-o:before{content: "\eaa3"}
.octo-icon-file-word-o:before{content: "\eaa4"}
.octo-icon-file-excel-o:before{content: "\eaa5"}
.octo-icon-file-powerpoint-o:before{content: "\eaa6"}
.octo-icon-file-photo-o:before{content: "\eaa7"}
.octo-icon-file-picture-o:before{content: "\eaa8"}
.octo-icon-file-image-o:before{content: "\eaa9"}
.octo-icon-file-zip-o:before{content: "\eaaa"}
.octo-icon-file-archive-o:before{content: "\eaab"}
.octo-icon-file-sound-o:before{content: "\eaac"}
.octo-icon-file-audio-o:before{content: "\eaad"}
.octo-icon-file-video-o:before{content: "\eaae"}
.octo-icon-file-code-o:before{content: "\eaaf"}
.octo-icon-vine:before{content: "\eab0"}
.octo-icon-life-bouy:before{content: "\eab1"}
.octo-icon-life-buoy:before{content: "\eab2"}
.octo-icon-life-saver:before{content: "\eab3"}
.octo-icon-support:before{content: "\eab4"}
.octo-icon-life-ring:before{content: "\eab5"}
.octo-icon-ra:before{content: "\eab6"}
.octo-icon-empire:before{content: "\eab7"}
.octo-icon-tencent-weibo:before{content: "\eab8"}
.octo-icon-send:before{content: "\eab9"}
.octo-icon-paper-plane:before{content: "\eaba"}
.octo-icon-send-o:before{content: "\eabb"}
.octo-icon-paper-plane-o:before{content: "\eabc"}
.octo-icon-history:before{content: "\eabd"}
.octo-icon-circle-thin:before{content: "\eabe"}
.octo-icon-paragraph:before{content: "\eabf"}
.octo-icon-sliders:before{content: "\eac0"}
.octo-icon-share-alt:before{content: "\eac1"}
.octo-icon-share-alt-square:before{content: "\eac2"}
.octo-icon-bomb:before{content: "\eac3"}
.octo-icon-soccer-ball-o:before{content: "\eac4"}
.octo-icon-futbol-o:before{content: "\eac5"}
.octo-icon-tty:before{content: "\eac6"}
.octo-icon-binoculars:before{content: "\eac7"}
.octo-icon-twitch:before{content: "\eac8"}
.octo-icon-yelp:before{content: "\eac9"}
.octo-icon-newspaper-o:before{content: "\eaca"}
.octo-icon-wifi:before{content: "\eacb"}
.octo-icon-calculator:before{content: "\eacc"}
.octo-icon-paypal:before{content: "\eacd"}
.octo-icon-cc-visa:before{content: "\eace"}
.octo-icon-cc-mastercard:before{content: "\eacf"}
.octo-icon-cc-discover:before{content: "\ead0"}
.octo-icon-cc-amex:before{content: "\ead1"}
.octo-icon-cc-paypal:before{content: "\ead2"}
.octo-icon-cc-stripe:before{content: "\ead3"}
.octo-icon-bell-slash:before{content: "\ead4"}
.octo-icon-bell-slash-o:before{content: "\ead5"}
.octo-icon-at:before{content: "\ead6"}
.octo-icon-paint-brush:before{content: "\ead7"}
.octo-icon-birthday-cake:before{content: "\ead8"}
.octo-icon-area-chart:before{content: "\ead9"}
.octo-icon-pie-chart:before{content: "\eada"}
.octo-icon-line-chart:before{content: "\eadb"}
.octo-icon-lastfm:before{content: "\eadc"}
.octo-icon-lastfm-square:before{content: "\eadd"}
.octo-icon-toggle-off:before{content: "\eade"}
.octo-icon-toggle-on:before{content: "\eadf"}
.octo-icon-bicycle:before{content: "\eae0"}
.octo-icon-bus:before{content: "\eae1"}
.octo-icon-cc:before{content: "\eae2"}
.octo-icon-cart-plus:before{content: "\eae3"}
.octo-icon-cart-arrow-down:before{content: "\eae4"}
.octo-icon-diamond:before{content: "\eae5"}
.octo-icon-ship:before{content: "\eae6"}
.octo-icon-street-view:before{content: "\eae7"}
.octo-icon-heartbeat:before{content: "\eae8"}
.octo-icon-venus:before{content: "\eae9"}
.octo-icon-mars:before{content: "\eaea"}
.octo-icon-transgender:before{content: "\eaeb"}
.octo-icon-transgender-alt:before{content: "\eaec"}
.octo-icon-facebook-official:before{content: "\eaed"}
.octo-icon-pinterest-p:before{content: "\eaee"}
.octo-icon-whatsapp:before{content: "\eaef"}
.octo-icon-server:before{content: "\eaf0"}
.octo-icon-user-plus:before{content: "\eaf1"}
.octo-icon-hotel:before{content: "\eaf2"}
.octo-icon-bed:before{content: "\eaf3"}
.octo-icon-train:before{content: "\eaf4"}
.octo-icon-subway:before{content: "\eaf5"}
.octo-icon-battery-4:before{content: "\eaf6"}
.octo-icon-battery:before{content: "\eaf7"}
.octo-icon-battery-full:before{content: "\eaf8"}
.octo-icon-battery-3:before{content: "\eaf9"}
.octo-icon-battery-three-quarters:before{content: "\eafa"}
.octo-icon-battery-2:before{content: "\eafb"}
.octo-icon-battery-half:before{content: "\eafc"}
.octo-icon-battery-1:before{content: "\eafd"}
.octo-icon-battery-quarter:before{content: "\eafe"}
.octo-icon-battery-0:before{content: "\eaff"}
.octo-icon-battery-empty:before{content: "\eb00"}
.octo-icon-mouse-pointer:before{content: "\eb01"}
.octo-icon-i-cursor:before{content: "\eb02"}
.octo-icon-clone:before{content: "\eb03"}
.octo-icon-balance-scale:before{content: "\eb04"}
.octo-icon-hourglass-1:before{content: "\eb05"}
.octo-icon-hourglass-start:before{content: "\eb06"}
.octo-icon-hourglass-half:before{content: "\eb07"}
.octo-icon-odnoklassniki:before{content: "\eb08"}
.octo-icon-odnoklassniki-square:before{content: "\eb09"}
.octo-icon-wikipedia-w:before{content: "\eb0a"}
.octo-icon-tv:before{content: "\eb0b"}
.octo-icon-television:before{content: "\eb0c"}
.octo-icon-px:before{content: "\eb0d"}
.octo-icon-amazon:before{content: "\eb0e"}
.octo-icon-calendar-plus-o:before{content: "\eb0f"}
.octo-icon-calendar-minus-o:before{content: "\eb10"}
.octo-icon-calendar-times-o:before{content: "\eb11"}
.octo-icon-calendar-check-o:before{content: "\eb12"}
.octo-icon-industry:before{content: "\eb13"}
.octo-icon-map-signs:before{content: "\eb14"}
.octo-icon-commenting:before{content: "\eb15"}
.octo-icon-black-tie:before{content: "\eb16"}
.octo-icon-reddit-alien:before{content: "\eb17"}
.octo-icon-credit-card-alt:before{content: "\eb18"}
.octo-icon-scribd:before{content: "\eb19"}
.octo-icon-usb:before{content: "\eb1a"}
.octo-icon-pause-circle:before{content: "\eb1b"}
.octo-icon-pause-circle-o:before{content: "\eb1c"}
.octo-icon-stop-circle:before{content: "\eb1d"}
.octo-icon-stop-circle-o:before{content: "\eb1e"}
.octo-icon-shopping-bag:before{content: "\eb1f"}
.octo-icon-shopping-basket:before{content: "\eb20"}
.octo-icon-hashtag:before{content: "\eb21"}
.octo-icon-bluetooth-b:before{content: "\eb22"}
.octo-icon-wheelchair-alt:before{content: "\eb23"}
.octo-icon-question-circle-o:before{content: "\eb24"}
.octo-icon-blind:before{content: "\eb25"}
.octo-icon-volume-control-phone:before{content: "\eb26"}
.octo-icon-braille:before{content: "\eb27"}
.octo-icon-snapchat:before{content: "\eb28"}
.octo-icon-snapchat-ghost:before{content: "\eb29"}
.octo-icon-snapchat-square:before{content: "\eb2a"}
.octo-icon-google-plus-circle:before{content: "\eb2b"}
.octo-icon-google-plus-official:before{content: "\eb2c"}
.octo-icon-handshake-o:before{content: "\eb2d"}
.octo-icon-envelope-open:before{content: "\eb2e"}
.octo-icon-envelope-open-o:before{content: "\eb2f"}
.octo-icon-address-book:before{content: "\eb30"}
.octo-icon-address-book-o:before{content: "\eb31"}
.octo-icon-vcard:before{content: "\eb32"}
.octo-icon-address-card:before{content: "\eb33"}
.octo-icon-vcard-o:before{content: "\eb34"}
.octo-icon-address-card-o:before{content: "\eb35"}
.octo-icon-user-circle:before{content: "\eb36"}
.octo-icon-user-circle-o:before{content: "\eb37"}
.octo-icon-user-o:before{content: "\eb38"}
.octo-icon-id-badge:before{content: "\eb39"}
.octo-icon-drivers-license:before{content: "\eb3a"}
.octo-icon-id-card:before{content: "\eb3b"}
.octo-icon-drivers-license-o:before{content: "\eb3c"}
.octo-icon-id-card-o:before{content: "\eb3d"}
.octo-icon-quora:before{content: "\eb3e"}
.octo-icon-thermometer-4:before{content: "\eb3f"}
.octo-icon-thermometer:before{content: "\eb40"}
.octo-icon-thermometer-3:before{content: "\eb41"}
.octo-icon-thermometer-full:before{content: "\eb42"}
.octo-icon-thermometer-three-quarters:before{content: "\eb43"}
.octo-icon-thermometer-half:before{content: "\eb44"}
.octo-icon-thermometer-2:before{content: "\eb45"}
.octo-icon-thermometer-1:before{content: "\eb46"}
.octo-icon-thermometer-quarter:before{content: "\eb47"}
.octo-icon-thermometer-0:before{content: "\eb48"}
.octo-icon-thermometer-empty:before{content: "\eb49"}
.octo-icon-shower:before{content: "\eb4a"}
.octo-icon-window-maximize:before{content: "\eb4b"}
.octo-icon-window-minimize:before{content: "\eb4c"}
.octo-icon-window-restore:before{content: "\eb4d"}
.octo-icon-window-close:before{content: "\eb4e"}
.octo-icon-etsy:before{content: "\eb4f"}
.octo-icon-imdb:before{content: "\eb50"}
.octo-icon-microchip:before{content: "\eb51"}
.octo-icon-snowflake-o:before{content: "\eb52"}
.octo-icon-meetup:before{content: "\eb53"}
.octo-icon-add-bold:before{content: "\e962"}
.octo-icon-layers-grid-add:before{content: "\e963"}
.octo-icon-common-file-star:before{content: "\e961"}
.octo-icon-set-parent:before{content: "\e960"}
.octo-icon-common-file-remove:before{content: "\e95c"}
.octo-icon-common-file-sync:before{content: "\e95d"}
.octo-icon-harddrive-upload:before{content: "\e95e"}
.octo-icon-common-file-upload:before{content: "\e95f"}
.octo-icon-list-reorder:before{content: "\e95b"}
.octo-icon-keyboard-return:before{content: "\e95a"}
.octo-icon-calendar-add:before{content: "\e951"}
.octo-icon-calendar-3:before{content: "\e952"}
.octo-icon-calendar-disable:before{content: "\e953"}
.octo-icon-calendar-check:before{content: "\e954"}
.octo-icon-calendar-clock:before{content: "\e955"}
.octo-icon-notes-edit-active .path1:before{content: "\e956";color: #ff9c09}
.octo-icon-notes-edit-active .path2:before{content: "\e957";margin-left: -1em;color: #536061}
.octo-icon-notes-edit:before{content: "\e958"}
.octo-icon-calendar-check-1:before{content: "\e959"}
.octo-icon-user-actions-key:before{content: "\e950"}
.octo-icon-id-card-1:before{content: "\e94e"}
.octo-icon-user-group:before{content: "\e94f"}
.octo-icon-translate:before{content: "\e94c"}
.octo-icon-globe:before{content: "\e94d"}
.octo-icon-code-snippet:before{content: "\e94b"}
.octo-icon-log-settings:before{content: "\e941"}
.octo-icon-lock:before{content: "\e949"}
.octo-icon-users:before{content: "\e94a"}
.octo-icon-power:before{content: "\e942"}
.octo-icon-paint-brush-1:before{content: "\e943"}
.octo-icon-mail-templates:before{content: "\e947"}
.octo-icon-mail-messages:before{content: "\e945"}
.octo-icon-mail-settings:before{content: "\e946"}
.octo-icon-mail-branding:before{content: "\e944"}
.octo-icon-download:before{content: "\e948"}
.octo-icon-plus:before{content: "\e940"}
.octo-icon-cross:before{content: "\e93e"}
.octo-icon-callout-danger:before{content: "\e93d"}
.octo-icon-callout-success:before{content: "\e93c"}
.octo-icon-callout-info:before{content: "\e93f"}
.octo-icon-add-above:before{content: "\e93a"}
.octo-icon-add-below:before{content: "\e93b"}
.octo-icon-check-multi:before{content: "\e939"}
.octo-icon-unlink:before{content: "\e938"}
.octo-icon-list-add:before{content: "\e935"}
.octo-icon-list-remove:before{content: "\e936"}
.octo-icon-create:before{content: "\e937"}
.octo-icon-preview:before{content: "\e933"}
.octo-icon-window-split:before{content: "\e934"}
.octo-icon-eraser:before{content: "\e92e"}
.octo-icon-text-code-block:before{content: "\e932"}
.octo-icon-text-h1:before{content: "\e92f"}
.octo-icon-text-h3:before{content: "\e930"}
.octo-icon-text-h2:before{content: "\e931"}
.octo-icon-text-insert-table:before{content: "\e915"}
.octo-icon-text-colors:before{content: "\e91e"}
.octo-icon-text-emoticons:before{content: "\e91f"}
.octo-icon-text-inline-style:before{content: "\e924"}
.octo-icon-volume:before{content: "\e925"}
.octo-icon-text-video:before{content: "\e926"}
.octo-icon-edit-code:before{content: "\e92b"}
.octo-icon-text-subscript:before{content: "\e920"}
.octo-icon-text-superscript:before{content: "\e921"}
.octo-icon-link:before{content: "\e91b"}
.octo-icon-text-strikethrough:before{content: "\e91d"}
.octo-icon-text-increase-indent:before{content: "\e922"}
.octo-icon-text-decrease-indent:before{content: "\e923"}
.octo-icon-text-image:before{content: "\e927"}
.octo-icon-redo:before{content: "\e928"}
.octo-icon-undo:before{content: "\e929"}
.octo-icon-attachment:before{content: "\e92a"}
.octo-icon-cursor-arrow:before{content: "\e92c"}
.octo-icon-text-clear-formatting:before{content: "\e92d"}
.octo-icon-quote:before{content: "\e919"}
.octo-icon-text-format-ul:before{content: "\e90c"}
.octo-icon-text-format-ol:before{content: "\e90d"}
.octo-icon-text-justify:before{content: "\e916"}
.octo-icon-magic-wand:before{content: "\e918"}
.octo-icon-horizontal-line:before{content: "\e91a"}
.octo-icon-bold:before{content: "\e90f"}
.octo-icon-text-left:before{content: "\e910"}
.octo-icon-text-right:before{content: "\e911"}
.octo-icon-text-center:before{content: "\e912"}
.octo-icon-italic:before{content: "\e913"}
.octo-icon-underline:before{content: "\e914"}
.octo-icon-info:before{content: "\e917"}
.octo-icon-components:before{content: "\e91c"}
.octo-icon-fullscreen-collapse:before{content: "\e90e"}
.octo-icon-angle-down:before{content: "\e90a"}
.octo-icon-angle-up:before{content: "\e90b"}
.octo-icon-search:before{content: "\e909"}
.octo-icon-settings:before{content: "\e904"}
.octo-icon-delete:before{content: "\e905"}
.octo-icon-fullscreen:before{content: "\e906"}
.octo-icon-save:before{content: "\e907"}
.octo-icon-search-code:before{content: "\e908"}
.octo-icon-exit:before{content: "\e901"}
.octo-icon-app-window:before{content: "\e902"}
.octo-icon-user-account:before{content: "\e903"}
.octo-icon-triangle-down:before{content: "\e900"}
.octo-icon-location-target:before{content: "\1f32b"}



.e49{display: flex;background: #fff;border: 1px solid #ccc;height: 34px;padding: 3px;}
.e49 button{display: flex;align-items: center;margin: 0 8px 0 0;background: none;padding: 0 8px;}
.e49 button:hover{background: rgba(215,225,234,.7);}
.e49 button span{margin: 0 0 0 8px;font-size: 14px;}
.e49 button i{font-size: 16px;}
.e50{border: 1px solid #ccc;border-top: none;background: #fff;padding: 4px 4px 0;}
.e50 li{margin: 0 0 4px;display: flex;align-items: flex-start;border-top: 1px solid #ebebeb;padding: 4px 0 0;}
.e50 li:first-child{padding: 0;border: none;}
.e50 button{width: 100%;display: flex;color: #536061;background: none;padding: 4px;}
.e50 button:hover{background: rgba(215, 225, 234, 0.7);}
.e50 button.image{align-items: flex-start;}
.e50 button.file{align-items: center;}
.e50 button.file div{display: flex;align-items: center;padding: 5px 8px;}
.e50 button.image div{padding: 12px;}
.e50 button.image .e51{margin: 0 0 8px;}
.e50 button.file .e51{margin: 0 4px 1px 0;}
.e50 button.file div p:last-child{position: relative;}
.e50 button.file div p:last-child::before{content: '('}
.e50 button.file div p:last-child::after{content: ')'}
.e50 img{width: 93px;height: 93px;display: block;object-fit: cover;}
.e50 div{text-align: left;}
.e51{font-size: 14px;}

.e52{display: flex;align-items: center;}
.e52.image{flex-direction: column;padding: 8px 6px;}
.e52.file{padding: 4px 10px;}
.e52.image>button{margin: 2px 0 0;}
.e52>button i{font-size: 16px;}
.e52 input{max-width: 16px;min-width: 16px;height: 16px;margin: 0 0 6px;}
.e52.file input{margin: 1px 12px 0 0;}
.e52.image input{margin: 0 0 6px;}

.e53{position: fixed;z-index: 100000;top: 0;left: 0;right: 0;bottom: 0;transition: .3s ease-out;background: rgba(0,0,0,.4);display: none;opacity: 0;}
.e54{position: fixed;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;overflow-y: auto;display: flex;justify-content: center;align-items: flex-start;}
.e55{position: fixed;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;}
.e56{background: #fff;max-width: 600px;width: 100%;margin: 64px 0;position: relative;z-index: 2;}
.e56>button{opacity: 0.7;position: absolute;z-index: 1;right: 16px;top: 16px;height: 24px;width: 24px;background: #BDC3C7;color: #000;text-shadow: 0 1px 0 #fff;font-size: 16px;padding: 0 0 2px;}
.e56>button:hover{opacity: 0.9;}
.e57{text-align: center;background-image: -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);background-image: -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);background-image: -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);background-image: -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px;background-position: 0 0, 10px 10px;}
.e57 img{display: inline-block;max-height: 264px;}
.e58{padding: 20px;}
.e58 p{margin: 0 0 10px;font-size: 14px;}
.e58 input{margin: 0 0 12px;}
.e58 textarea{height: 80px;min-height: 50px;max-height: 300px;}
.e59{display: flex;align-items: center;justify-content: space-between;padding: 16px 0 0;}
.e59 div{display: flex;}
.e59 button{margin: 0 8px 0 0;}

.e60{position: fixed;z-index: 100000;top: 0;left: 0;right: 0;bottom: 0;}

.e61{display: inline-flex;color: #536061;background: #fff;border: 1px solid #cfd7e1;}
.e61 button{padding: 0 14px;border-left: 1px solid #cfd7e1;height: 36px;background: none;display: flex;align-items: center;justify-content: center;}
.e61 button:first-child{border: none;}
.e61 button:hover{background: rgba(215,225,234,.7);}
.e61 button.active, .e61 button.active:hover{background: #6bc48d;color: #fff}

.e62{}
.e63{margin: 0 0 16px;}
.e63>li{display: flex;margin: 8px 0 0;background: #f0f4f8;border: 1px solid #CFD7E1;}

.e64{display: flex;flex-wrap: wrap;margin: 0 0 0 -16px;padding: 10px 15px 0;width: 100%;}
.e64>li{width: calc(50% - 16px);margin: 0 0 0 16px;}
.e64>li.full, .e64>li.full>div{width: 100%;}
.e64>li.left{width: 100%;}
.e64>li.left>div{width: calc(50% - 8px);}
.e64>li>div, .e42>li>div{margin: 0 0 16px;}

.e65{position: relative;padding: 2px 5px 8px;min-width: 36px;max-width: 36px;background: #fff;border-left: 1px solid #CFD7E1;display: flex;flex-direction: column;align-items: center;}
.e65 button{width: 100%;display: flex;color: #536061;background: none;}
.e65 button:hover{background: rgba(215, 225, 234, 0.7);}
.e65 button i{font-size: 16px;}
.e65>button{padding: 4px;margin: 2px 0 0;}
.e65>input{max-width: 16px;min-width: 16px;height: 16px;margin: 6px 0 0;}
.e67{position: absolute;background: #fff;z-index: 10;border: 1px solid rgba(149,165,166,.2);-webkit-box-shadow: -2px 2px 5px rgba(67,86,100,.12);box-shadow: -2px 2px 5px rgba(67,86,100,.12);min-width: 160px;max-width: 160px;right: -1px;top: 90px;}
.e67::before{content: '';display: block;width: 0;height: 0;border-left: 8.5px solid transparent;border-right: 8.5px solid transparent;border-bottom: 9px solid rgba(0,0,0,.2);position: absolute;right: 9.5px;top: -9px;z-index: 1;}
.e67::after{content: '';display: block;width: 0;height: 0;border-left: 7.5px solid transparent;border-right: 7.5px solid transparent;border-bottom: 8px solid #fff;position: absolute;top: -8px;z-index: 2;right: 10.5px;}
.e68{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 10000;}
.e69{position: relative;z-index: 10001;padding: 4px 0;}
.e69 button{padding: 8px 12px;margin: 2px 0;display: flex;align-items: center;}
.e69 button i{margin: 0 8px 0 0;}
.e69 button span{font-size: 14px;}

.e70{padding: 8px 16px 20px;border: 1px solid #ccc;border-top: none;background: #fff;}
.e71{color: #536061;padding: 9px 15px;font-size: 14px;display: inline-flex;background: none;align-items: center;border: 1px dashed #bcc3c7;}
.e71:hover{background-color: #8284f8;color: #fff;border: 1px solid #8284f8;}
.e71 i{margin: 0 6px 0 0;}




/* app-kvesty */
.e80{display: flex;align-items: center;margin: 0 0 16px;position: relative;}
.e80::before, .e86::before{position: absolute;content: "";left: 0;right: 0;top: 0;bottom: 0;z-index: -1;cursor: progress;}
.e80.disabled::before, .e86.disabled::before{z-index: 100;background: rgba(255,255,255,0.4);}
h1.e81{padding: 5px 5px 7px;color: #666;font-size: 24px;margin: 0;}
.e82{display: flex;align-items: center;margin: 0 13px 0 7px;}
.e82 button{width: 21px;padding: 0 2px;background: none;}
.e82 button svg{fill: #0077bb;transition: .15s ease-out;}
.e82 button:hover svg{fill: #005788;}
.e83{position: relative;margin: 0 4px;}
.e83 input{width: 142px;}
.e83 p{font-size: 18px;position: absolute;top: 3px;left: 3px;bottom: 3px;width: 110px;background: #fff;display: flex;align-items: center;justify-content: center;padding: 2px 0 0;}

.e85{border-top: 1px solid #222;}
.e86{border: 1px solid #ddd;font-size: 14px;width: 100%;line-height: 1.5;position: relative;}
.e86 td{border: 1px solid #ddd;padding: 8px;vertical-align: top;}
.e86 thead p{font-weight: bold;}
.e86 td>p{}
.e86 td:nth-of-type(2){min-width: 175px;max-width: 175px;}
.e86 td:nth-of-type(3){min-width: 113px;max-width: 113px;}
.e86 td:nth-of-type(4){min-width: 175px;max-width: 175px;}
.e86 td:nth-of-type(5){text-align: right;min-width: 230px;max-width: 230px;}
.e87{}
.e88{background: #DEFAD8;}
.e88.freeze{background: #eee;}
.e89{display: flex;flex-wrap: wrap;}
.e89>*:first-child{margin: 0 4px 0 0;}
.e90{}
.e91{}
.e91>p{font-weight: bold;margin: 0 5px 0 0;}
.e92{display: flex;align-items: center;}
.e93{width: 14px;overflow: hidden;}
.e93 svg{fill: #666;min-width: 17px;margin: 0 0 0 -3px;}
.e92 a{color: #666;transition: .15s ease-out;}
.e92 a:hover{color: #004eff;}
.e94_0{margin: 0 0 0 8px;width: 20px;}
.e94.gray svg{fill: #e0e0e0;}
.e94.green svg{fill: #080;}
.e95{color: #aaa;}
.e96 .red{color: #ed143d;display: inline-block;}
.e111{display: inline-block;}
.e111.green{color: #080;}
.e97{display: none;position: fixed;z-index: 1000;background: #fff6df;border: 1px solid #fb3;border-radius: 5px;max-width: 300px;}
.e97.show{display: block;}
.e98{border-bottom: 1px solid #fb3;font-weight: bold;padding: 5px 10px;text-align: left;}
.e98_0{border-top: 1px solid #aaa;}
.e97 p:last-child{padding: 5px 10px;}
.e99{display: flex;margin: 0 0 12px;padding: 0 0 0 8px;}
.e99>div{display: flex;}
.e99>div:last-child{margin: 0 0 0 24px;}
.e100{position: relative;margin: 0 5px 0 0;}
.e101, .e103_0, .e106{width: 24px;height: 24px;display: flex;align-items: center;justify-content: center;border-radius: 3px;background: none;transition: none;}
.e101 svg, .e103_0 svg, .e106 svg{width: 20px;}
.e101.red svg, .e103_0.red svg, .e106.red svg{fill: #ed143d;}
.e101.yellow svg, .e103_0.yellow svg, .e106.yellow svg{fill: #ff8c00;}
.e101.green svg, .e103_0.green svg, .e106.green svg{fill: #080;}
.e101.gray svg, .e103_0.gray svg, .e106.gray svg{fill: #e0e0e0;}
.e101.tel svg, .e103_0.tel svg, .e106.tel svg{fill: #fff;}
.e101.tel.red, .e103_0.tel.red, .e106.tel.red{background: #ed143d;}
.e101.tel.yellow, .e103_0.tel.yellow, .e106.tel.yellow{background: #ff8c00;}
.e101.tel.green, .e103_0.tel.green, .e106.tel.green{background: #080;}
.e101.tel.gray, .e103_0.tel.gray, .e106.tel.gray{background: #e0e0e0;}
.e102{left: 0;display: none;position: absolute;z-index: 100;min-width: 220px;max-width: 220px;background: #fff;top: calc(100% + 6px);border: 1px solid #eee;-webkit-box-shadow: 0 6px 12px rgb(0,0,0,0.18);box-shadow: 0 6px 12px rgb(0,0,0,0.18);}
.e102.right{left: auto;right: 0;}
.e102.show{display: block;}
.e102 li{border-bottom: 1px solid #ddd;}
.e102 li:last-child{border: 0;}
.e103{width: 100%;display: flex;align-items: center;background: none;padding: 10px 20px;transition: .15s ease-out;}
.e103 p{font-size: 14px;margin: 0 0 0 6px;}
.e103:hover{color: #fff;background: #005788;}
.e104{display: inline-block;}
.e104 div{resize: none;width: 230px;background: none;box-shadow: none;padding: 3px 8px;cursor: pointer;border: 1px solid transparent;transition: .15s ease-out;}
.e104 div:hover{background: #f0f0f0;border-color: #ddd;}
.e104 div:focus, .e104 div.active{border: 1px solid #ccc;box-shadow: inset 0 1px 1px rgb(0,0,0,.08);background: #fff;}
.e104 div>*{margin: 0;padding: 0;}
.e104 button{display: none;width: 26px;height: 26px;margin: 2px 0 0 8px;background: #3e9b52;border: 1px solid #378948;}
.e104 button svg{fill: #fff;width: 16px;}
.e104 button.show{display: block;}
.e105{}
.e106{width: 20px;height: 20px;}
.e107{position: relative;}
.e108{width: 24px;height: 24px;position: relative;}
.e108 button{position: relative;z-index: 1;}
.e108 span{position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;}
.e90.deleted{background: #eee;}
.e90.deleted td{opacity: 0.6;transition: .15s ease-out;}
.e90.deleted td>p, .e90.deleted #move>p, .e90.deleted .e91 p, .e90.deleted .e91 a{text-decoration: line-through;}
.e90.deleted td:nth-of-type(5)>p{text-decoration: none;}
.e90.deleted:hover td{opacity: 1;}

.e110{margin: 16px 0 0;font-size: 12px;}
.e110::before{content: "(";}
.e110::after{content: ")";}
.e110.red{color: #ed143d;}
.e110.green{color: #080;}
.e112{color: #aaa;}
.e112.red{color: #ed143d;}
.e112.green{color: #080;}

.e113{max-width: none;margin: 0;}
.e114{margin: 0 0 0 16px;}

.e115{width: 100%;margin: 0 0 16px;}
.e115 p{font-size: 14px;margin: 0 0 2px;}
.e115 textarea{resize: vertical;;min-height: 70px;max-height: 120px;}

.e116{margin: 8px 0 0;background: rgba(255,255,255,0.5);padding: 8px;font-size: 12px;width: 100%;}

.e117{}
.e118{}
.e119{}
.e120{}
